<label class="input__container">
  <input
    class="input__element"
    id="{{id}}"
    placeholder="{{placeholder}}"
    type="{{type}}"
    value="{{value}}"
    name="{{name}}"
  />
  <div class="input__label">{{label}}</div>
</label>