<div class="chat-sidebar__element {{class}}">
  <img src="images/user-image.png" alt="user-image" class="sidebar__user-image" />
  <div class="sidebar-content">
    <div class="chat-header">
      <h1 class="chat-name">{{chat-name}}</h1>
      <span class="publication-date">{{publication-date}}</span>
    </div>
    <div class="chat-content">
      <p class="user-message">{{user-message}}</p>
      {{#if message-count}}
      <div class="message-count">{{message-count}}</div>
      {{/if}}
    </div>
  </div>
</div>
